.home {
  position: relative;
  padding: 3em 10em 5em 5em;
}

.home table {
  display: block;
  margin-top: 2em;
}

.home table tbody {
  display: block;
}

.home table tbody tr {
  position: relative;
  display: block;
  padding: 1em 2em;
}

.home table tbody tr:nth-child(odd) {
  background-color: #e6e5e5;
}

.home .btn-delete {
  position: absolute;
  right: 1em;
}

.DayPickerInput input {
  width: 20em;
  padding: 1em 1.2em;
  margin-bottom: .3em;
  border: 1px solid #cbcccd;
  background-color: #d9dbdc;
}

.home button {
  position: absolute;
  margin-left: 1em;
  color: #ffffff;
  cursor: pointer;
  padding: 1em 3.8em;
  box-shadow: 0 0 .7em #8e8d8d;
  border: 1px solid #55ace3;
  background-color: #64b2e3;
}

.btn-delete {
  text-decoration: none;
  color: #f68285;
}