.backdrop {
  position: absolute;
  z-index: 10;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .3;
}

.dialog {
  position: absolute;
  margin: auto;
  width: 300px;
  height: 100px;
  padding: 2em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #e6e5e5;
}

.btn-no {
  bottom: 1em;
  right: 9em;
}

.btn-yes {
  bottom: 2em;
  left: 8em;
}