.details {
  padding: 3em 10em 5em 5em;
}

.details table {
  display: block;
}

.details table tbody {
  display: block;
}

.details table tbody tr {
  display: block;
  padding: 1em;
}

.details table tbody tr:nth-child(even) {
  background-color: #e6e5e5;
}

.details table tbody tr th {
  width: 100px;
  text-align: left;
}

.edit {
  text-decoration: none;
  color: #5597fb;
}

.btn-deactivate {
  position: absolute;
  right: 13em;
  padding: 1em 2em;
  margin-top: 50px;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #f5696c;
  box-shadow: 0 0 .7em #8e8d8d;
  background-color: #f68285;
}

.btn-deactivate:hover {
  box-shadow: 0 .3em .7em #8e8d8d;
}

.btn-deactivate:active {
  box-shadow: 0 0 .7em #8e8d8d;
}

.update {
  padding: 3em 10em 5em 5em;
}

.update form div {
  margin-bottom: 1em;
}

.update form div label {
  display: inline-block;
  width: 100px;
}

.update button {
  left: 16em;
}

.update form input {
  padding: 2em;
  width: 30em;
}

.update form select {
  -webkit-appearance: none;
  width: 34em;
  padding: 2em 1.2em;
  margin-bottom: .3em;
  border: 1px solid #cbcccd;
  background-color: #d9dbdc;
}