.details {
  padding: 3em 10em 5em 5em;
}

.details table {
  display: block;
}

.details table tbody {
  display: block;
}

.details table tbody tr {
  display: block;
  padding: 1em;
}

.details table tbody tr:nth-child(even) {
  background-color: #e6e5e5;
}

.details table tbody tr th {
  width: 100px;
  text-align: left;
}

.btn-deactivate {
  right: 11.4em;
  padding: 1em 2em;
  margin-top: 50px;
}

.update {
  padding: 3em 10em 5em 5em;
}

.update form div {
  margin-bottom: 1em;
}

.update form div label {
  display: inline-block;
  width: 100px;
}

.update button {
  left: 13.4em;
}

.update form input {
  padding: 1.5em;
  width: 30em;
}

.update form select {
  -webkit-appearance: none;
  width: 33.2em;
  padding: 1.5em 1em;
  border-radius: .2em;
  margin-bottom: .3em;
  border: 1px solid #cbcccd;
  background-color: #d9dbdc;
}