.new {
  padding: 3em 10em 5em 5em;
}

.new form div {
  margin-bottom: 1em;
}

.new form div label {
  display: inline-block;
  width: 100px;
}

.new button {
  left: 13.3em;
}

.new form input {
  padding: 1.5em;
  width: 30em;
}