.header-container {
  padding: 1em 5em;
}

.logo {
  display: block;
  width: 70px;
  height: 71px;
  background: url(./assets/logo-header.png) no-repeat;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.navbar li {
  display: inline-block;
  margin-right: 1em;
}

.navbar li .navlink {
  padding: .8em 1.6em .7em;
  text-decoration: none;
  color: #000000;
  background-color: #d9dbdc;
}

.navbar li .navlink.active {
  background-color: #e9eaeb;
}

.navbar li .navlink:hover {
  background-color: #e9eaeb;
}

.welcome {
  position: absolute;
  top: 5.2em;
  right: 9.7em;
}

.logout {
  right: 10.8em;
  top: 8em;
}
